# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/
/lib
/node_modules
/cache
/out
/.vscode
/.github

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local